@import url('https://fonts.googleapis.com/css2?family=Borel&family=Caprasimo&display=swap');

body {
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Caprasimo', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

footer {
    font-family: 'Caprasimo', cursive;
    display: flex;
    width: 200px;
    margin: 25px auto;
}

.controls {
    display: flex;
    height: 75px;
    width: 550px;
    margin: auto;
    margin-bottom: 10px;
    justify-content:space-around;
    align-items: center;
}

.menu-button {
    color: white;
    font-family: 'Caprasimo', cursive;
    background-color: gray;
    border-style: solid;
    border-color: gray;
    border-radius: 3px;
}

.menu-button:hover {
    background-color: rgb(107, 107, 107);
}

#colorpicker {
    padding: none;
    border: none;
}

button {
    height: 40px;
    width: 100px;
    
}

.container-main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 496px;
    width: 496px;
    margin: auto;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 1px;

}

.boxes {
    border-style:dotted;
    border-width: .01px;
    border-color: lightgray;
}



.hover-effect {
    background-color: gray;
  }

